USE [master]
GO
/****** Object:  Database [SONTUANHAU]    Script Date: 12/24/2021 2:07:38 PM ******/
CREATE DATABASE [SONTUANHAU]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SONTUANHAU', FILENAME = N'D:\Program Files\MSSQL15.SQLEXPRESS\MSSQL\DATA\SONTUANHAU.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SONTUANHAU_log', FILENAME = N'D:\Program Files\MSSQL15.SQLEXPRESS\MSSQL\DATA\SONTUANHAU_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SONTUANHAU].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SONTUANHAU]
GO
/****** Object:  Table [dbo].[CT_HOADON]    Script Date: 12/24/2021 2:07:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_HOADON](
	[MACT] [int] IDENTITY(2,1) NOT NULL,
	[MAHD] [int] NULL,
	[MAMAU] [nvarchar](50) NULL,
	[SOLUONG] [int] NULL,
	[GIATIEN] [float] NULL,
	[THETICH] [nvarchar](50) NULL,
	[MOTA] [nvarchar](max) NULL,
	[MASP] [int] NULL,
	[TENSP] [nvarchar](50) NULL,
 CONSTRAINT [PK_CT_HOADON] PRIMARY KEY CLUSTERED 
(
	[MACT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 12/24/2021 2:07:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHD] [int] IDENTITY(2,1) NOT NULL,
	[TENHD] [nvarchar](50) NULL,
	[NGAYLAP] [datetime] NULL,
	[TONGTIEN] [float] NULL,
	[MAKH] [int] NULL,
	[SOLUONG] [int] NULL,
	[MANV] [int] NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 12/24/2021 2:07:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [int] IDENTITY(2,1) NOT NULL,
	[TENKH] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[SDT] [nvarchar](50) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[DIEMTHUONG] [int] NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 12/24/2021 2:07:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MANCC] [int] IDENTITY(2,1) NOT NULL,
	[TENNCC] [nvarchar](50) NULL,
	[LOAISP] [nvarchar](50) NULL,
 CONSTRAINT [PK_NHACUNGCAP] PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 12/24/2021 2:07:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [int] IDENTITY(2,1) NOT NULL,
	[TENNV] [nvarchar](50) NULL,
	[SDT] [nvarchar](50) NULL,
	[CHUCVU] [nvarchar](50) NULL,
	[CMND] [nvarchar](50) NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 12/24/2021 2:07:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASP] [int] IDENTITY(2,1) NOT NULL,
	[TENSP] [nvarchar](50) NULL,
	[GIANHAP] [float] NULL,
	[HSD] [datetime] NULL,
	[NSX] [datetime] NULL,
	[MANCC] [int] NULL,
	[MAMAU] [nvarchar](50) NULL,
	[SOLUONG] [int] NULL,
	[ANH] [nvarchar](max) NULL,
	[GIABAN] [nvarchar](50) NULL,
 CONSTRAINT [PK_SANPHAM] PRIMARY KEY CLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 12/24/2021 2:07:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[UID] [int] IDENTITY(2,1) NOT NULL,
	[USERNAME] [nvarchar](50) NULL,
	[PASSWORD] [nvarchar](50) NULL,
 CONSTRAINT [PK_TAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[UID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CT_HOADON]  WITH CHECK ADD  CONSTRAINT [FK_CT_HOADON_HOADON] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOADON] ([MAHD])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CT_HOADON] CHECK CONSTRAINT [FK_CT_HOADON_HOADON]
GO
ALTER TABLE [dbo].[CT_HOADON]  WITH CHECK ADD  CONSTRAINT [FK_CT_HOADON_SANPHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CT_HOADON] CHECK CONSTRAINT [FK_CT_HOADON_SANPHAM]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_KHACHHANG]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_NHANVIEN]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_NHACUNGCAP] FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHACUNGCAP] ([MANCC])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_NHACUNGCAP]
GO
/****** Object:  StoredProcedure [dbo].[SANPHAMAdd]    Script Date: 12/24/2021 2:07:38 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SANPHAMAdd]
	@TENSP NVarChar(50),
	@GIANHAP Float,
	@HSD datetime,
	@NSX datetime,
	@MANCC Int,
	@MAMAU NVarChar(50),
	@SOLUONG Int,
	@MACODE NVarChar(100),
	@ANH NVarChar(50),
	@GIABAN NVarChar(50)
AS

INSERT INTO [SANPHAM] (
	[TENSP],
	[GIANHAP],
	[HSD],
	[NSX],
	[MANCC],
	[MAMAU],
	[SOLUONG],
	[MACODE],
	[ANH],
	[GIABAN]
) VALUES (
	@TENSP,
	@GIANHAP,
	@HSD,
	@NSX,
	@MANCC,
	@MAMAU,
	@SOLUONG,
	@MACODE,
	@ANH,
	@GIABAN
)

select CAST(SCOPE_IDENTITY() as Int)

GO
/****** Object:  StoredProcedure [dbo].[SANPHAMDelete]    Script Date: 12/24/2021 2:07:38 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SANPHAMDelete]
	@MASP Int
AS

DELETE FROM [SANPHAM]
WHERE
	[MASP] = @MASP
GO
/****** Object:  StoredProcedure [dbo].[SANPHAMGet]    Script Date: 12/24/2021 2:07:38 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[SANPHAMGet]
	@MASP Int
	
AS

SELECT
	[MASP] ,
	[TENSP] ,
	[GIANHAP] ,
	[HSD] ,
	[NSX] ,
	[MANCC] ,
	[MAMAU] ,
	[SOLUONG] ,
	[MACODE] ,
	[ANH] ,
	[GIABAN] 
FROM [SANPHAM]
WHERE
	([MASP] = @MASP OR @MASP IS NULL)
	
GO
/****** Object:  StoredProcedure [dbo].[SANPHAMGetByNHACUNGCAP]    Script Date: 12/24/2021 2:07:38 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SANPHAMGetByNHACUNGCAP]
	@MANCC Int
	
    
AS

SELECT
	[MASP] ,
	[TENSP] ,
	[GIANHAP] ,
	[HSD] ,
	[NSX] ,
	[MANCC] ,
	[MAMAU] ,
	[SOLUONG] ,
	[MACODE] ,
	[ANH] ,
	[GIABAN] 
FROM [SANPHAM]
WHERE  MANCC=@MANCC

GO
/****** Object:  StoredProcedure [dbo].[SANPHAMList]    Script Date: 12/24/2021 2:07:38 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SANPHAMList]
	
AS

SELECT
	[MASP] ,
	[TENSP] ,
	[GIANHAP] ,
	[HSD] ,
	[NSX] ,
	[MANCC] ,
	[MAMAU] ,
	[SOLUONG] ,
	[MACODE] ,
	[ANH] ,
	[GIABAN] 
FROM [SANPHAM]

GO
/****** Object:  StoredProcedure [dbo].[SANPHAMUpdate]    Script Date: 12/24/2021 2:07:38 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SANPHAMUpdate]
	@MASP Int, 
	@TENSP NVarChar(50), 
	@GIANHAP Float, 
	@HSD datetime, 
	@NSX datetime, 
	@MANCC Int, 
	@MAMAU NVarChar(50), 
	@SOLUONG Int, 
	@MACODE NVarChar(100), 
	@ANH NVarChar(50), 
	@GIABAN NVarChar(50) 
AS

UPDATE [SANPHAM] SET
	[TENSP] = @TENSP,
	[GIANHAP] = @GIANHAP,
	[HSD] = @HSD,
	[NSX] = @NSX,
	[MANCC] = @MANCC,
	[MAMAU] = @MAMAU,
	[SOLUONG] = @SOLUONG,
	[MACODE] = @MACODE,
	[ANH] = @ANH,
	[GIABAN] = @GIABAN
WHERE
	[MASP] = @MASP
GO
USE [master]
GO
